* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif, san-serif;
}
#app {
	width: 576px;
	height: 706px;
	position: relative;
	background-image: url(rectangle.jpg);
	margin: 0 auto;
}
#app a {
	text-decoration: none;
}
.text {
	text-align: center;
	padding-top: 32px;
	margin-bottom: 55px;
	background: -webkit-linear-gradient(109.25deg, #f5a54f -24.13%, #f7d659 39.03%, #be8d26 113.96%, #ca823b 172.84%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 45px;
}
.marker {
	margin: 0 auto;
	position: absolute;
	width: 358px;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, 0);
}

.wheel {
	display: block;
	margin: 0 auto;
	width: 359px;
	height: 359px;
}
.shadow__wheel {
	position: absolute;
	width: 299.66px;
	height: 37.46px;

	background: radial-gradient(50% 50% at 50% 50%, #4b1111 0%, rgba(101, 24, 24, 0) 100%);
	filter: blur(17px);
	left: 106.3px;
}
.button {
	outline: none;
	display: block;
	width: 228px;
	height: 50px;
	background: #cc1d1d;
	box-shadow: 0px 19px 27px rgba(255, 0, 0, 0.2);
	border-radius: 5px;
	margin: 67px auto;
	cursor: pointer;
	color: white;
	border: none;
	font-size: 16px;
}

.button:hover {
	opacity: 0.8;
}

.blur {
	animation: blur 10s;
}

@keyframes blur {
	0% {
		filter: blur(1.5px);
	}
	80% {
		filter: blur(1.5px);
	}
	100% {
		filter: blur(0px);
	}
}

#okno {
	width: 400px;
	height: 500px;
	text-align: center;
	padding: 15px;
	border: 3px solid #be8d26;
	border-radius: 10px;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 110px auto;
	z-index: 3;
	background-color: #800;


}

#okno:target {
	display: block;
}

.close {
	width: 228px;

	background: #cc1d1d;
	box-shadow: 0px 19px 27px rgba(255, 0, 0, 0.2);
	border-radius: 5px;
	margin: 0 auto;
	cursor: pointer;
	color: white;
	border: none;
	font-size: 16px;
	text-decoration: none;
	display: block;
	padding: 20px;
}
.close:hover {
	opacity: 0.8;
}


.okno-text {
	font-size: 38px;
	text-align: center;
	padding-top: 32px;
	margin-bottom: 70px;
	background: -webkit-linear-gradient(109.25deg, #f5a54f -24.13%, #f7d659 39.03%, #be8d26 113.96%, #ca823b 172.84%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.okno-img {
	width: 150px;
	height: 150px;
	margin-bottom: 100px;
}